In [2]:
age = 30                     # Integer
price = 99.99                # Float
name = "Amiya"               # String
is_student = True           # Boolean

print("1. Variable Types and Output")
print(f"Age: {age}, Type: {type(age)}")
print(f"Price: {price}, Type: {type(price)}")
print(f"Name: {name}, Type: {type(name)}")
print(f"Is Student: {is_student}, Type: {type(is_student)}")
print("-" * 50)

1. Variable Types and Output
Age: 30, Type: <class 'int'>
Price: 99.99, Type: <class 'float'>
Name: Amiya, Type: <class 'str'>
Is Student: True, Type: <class 'bool'>
--------------------------------------------------

In [3]:
print("2. Basic Input and Arithmetic")
int_input = int(input("Enter an integer (e.g., 10): "))
float_input = float(input("Enter a float (e.g., 5.5): "))

sum_result = int_input + float_input
diff_result = int_input - float_input
product_result = int_input * float_input
division_result = float_input / int_input if int_input != 0 else None

2. Basic Input and Arithmetic

In [4]:
print(f"Sum: {sum_result:.2f}")
print(f"Difference: {diff_result:.2f}")
print(f"Product: {product_result:.2f}")
if division_result is not None:
    print(f"Division (float / int): {division_result:.2f}")
else:
    print("Division by zero is not allowed.")
print("-" * 50)

Sum: 13225225.30
Difference: 12600578.70
Product: 4033000165216.60
Division (float / int): 0.02
--------------------------------------------------

In [5]:
print("3. Formatted Output")
language = input("What is your favorite programming language? ")
experience = input("What is your experience level? (Beginner/Intermediate/Advanced): ")
print(f"I am a {experience} in {language}.")
print("-" * 50)

3. Formatted Output
You are a B in python.
--------------------------------------------------

In [6]:
print("4. Simple Type Casting")
user_input = input("Enter a number as text (e.g., '105'): ")

int_value = int(user_input)
float_value = float(user_input)

print(f"Original Input: {user_input}, Type: {type(user_input)}")
print(f"Integer Conversion: {int_value}, Type: {type(int_value)}")
print(f"Float Conversion: {float_value}, Type: {type(float_value)}")

4. Simple Type Casting
Original Input: 111, Type: <class 'str'>
Integer Conversion: 111, Type: <class 'int'>
Float Conversion: 111.0, Type: <class 'float'>

In [7]:
def greet(name):
    print(f"Hello, {name}! Welcome to Python programming.")

print("5. Function Introduction")
user_name = input("Enter your name: ")
greet(user_name)
print("-" * 50)

5. Function Introduction
Hello, abcd! Welcome to Python programming.
--------------------------------------------------

In [9]:
print("6. Handling Multiple Inputs on One Line")
nums_input = input("Enter three numbers separated by spaces (e.g., '10 20 30'): ")
nums_list = nums_input.split()
if len(nums_list) != 3:
    print("Please enter exactly three numbers.")
else:
    num1, num2, num3 = map(int, nums_list)
    average = (num1 + num2 + num3) / 3
    print(f"The average of {num1}, {num2}, and {num3} is {average:.2f}")
print("-" * 50)

6. Handling Multiple Inputs on One Line
The average of 11, 22, and 33 is 22.00
--------------------------------------------------

In [11]:
print("7. Basic Error Handling for Input")
user_input = input("Please enter an integer: ")
try:
    number = int(user_input)
    print(f"You entered the integer: {number}")
except ValueError:
    print(f"That wasn't a valid integer -> {user_input}. Please enter a number like 5 or 42.")

7. Basic Error Handling for Input
That wasn't a valid integer -> v. Please enter a number like 5 or 42.

In [13]:
print("8. BMI Calculator with Error Handling")
def bmi_calc():
    try:
        height = float(input("Enter your height in meters (e.g., 1.75): "))
        weight = float(input("Enter your weight in kilograms (e.g., 68): "))

        if height <= 0.0 or weight <= 0.0:
            raise ZeroDivisionError("Height or weight cannot be zero. Division by zero is not allowed.")

        bmi = weight / (height ** 2)
        print(f"Your BMI is: {bmi:.2f}")

    except ValueError:
        print("Invalid input! Please enter numeric values for height and weight.")

    except ZeroDivisionError as zde:
        print(f"Error: {zde}")

bmi_calc()

8. BMI Calculator with Error Handling
Your BMI is: 32.33

In [14]:
print("9. List Indexing and Slicing")
animals = ["Elephant", "Tiger", "Kangaroo", "Panda", "Zebra"]
print("Animal at index 0:", animals[0])
print("Animal at index 3:", animals[3])
print("Last two animals:", animals[-2:])
print("-" * 50)

9. List Indexing and Slicing
Animal at index 0: Elephant
Animal at index 3: Panda
Last two animals: ['Panda', 'Zebra']
--------------------------------------------------

In [15]:
print("10. Tuple Creation and Access")
countries = ("India", "Brazil", "Canada")
print("Country at index 0:", countries[0])
print("Country at index 2:", countries[2])
print("-" * 50)

10. Tuple Creation and Access
Country at index 0: India
Country at index 2: Canada
--------------------------------------------------

In [16]:
print("11. String Indexing and Slicing")
city = "Metropolis"
print("First character:", city[0])
print("Character at index 5:", city[5])
print("Characters from index 2 to 5:", city[2:6])
print("-" * 50)

11. String Indexing and Slicing
First character: M
Character at index 5: p
Characters from index 2 to 5: trop
--------------------------------------------------

In [17]:
print("12. Tuple and List Conversion")
original_tuple = (10, 20, 30)
converted_list = list(original_tuple)
converted_list.append(40)
final_tuple = tuple(converted_list)
print("Final tuple:", final_tuple)

12. Tuple and List Conversion
Final tuple: (10, 20, 30, 40)

In [18]:
def is_palindrome(s):
    return s == s[::-1]

In [20]:
print("13. Palindrome Check")
test_string = input("Enter a string to check if it's a palindrome: ")
if is_palindrome(test_string):
    print(f"It's a palindrome -> {test_string}")
else:
    print("Not a palindrome.")
print("-" * 50)

13. Palindrome Check
It's a palindrome -> 1221
--------------------------------------------------

In [21]:
print("14. Removing Duplicates")
original_list = [1, 2, 2, 3, 4, 3, 5]
unique_list = []
for item in original_list:
    if item not in unique_list:
        unique_list.append(item)
print("Original list:", original_list)
print("Without duplicates:", unique_list)
print("-" * 50)

14. Removing Duplicates
Original list: [1, 2, 2, 3, 4, 3, 5]
Without duplicates: [1, 2, 3, 4, 5]
--------------------------------------------------

In [22]:
from typing import List, Set
def list_intersection(list1:List, list2:List):
    set1:Set = set(list1)
    set2:Set = set(list2)
    return list(set1.intersection(set2))

print("15. List Intersection")
list_a = [1, 2, 3, 4]
list_b = [3, 4, 5, 6]
common_elements = list_intersection(list_a, list_b)
print("List A:", list_a)
print("List B:", list_b)
print("Intersection:", common_elements)
print("-" * 50)

15. List Intersection
List A: [1, 2, 3, 4]
List B: [3, 4, 5, 6]
Intersection: [3, 4]
--------------------------------------------------

In [23]:
print("16. Element Frequency")
elements = ['apple', 'banana', 'apple', 'orange', 'banana', 'apple']
frequency_dict = {}
for item in elements:
    frequency_dict[item] = frequency_dict.get(item, 0) + 1
print("Frequency Dictionary:", frequency_dict)
print("-" * 50)

16. Element Frequency
Frequency Dictionary: {'apple': 3, 'banana': 2, 'orange': 1}
--------------------------------------------------

In [24]:
print("17. Dictionary Operations")
book = {
    'title': '1984',
    'author': 'George Orwell',
    'year_published': 1949
}
book['genre'] = 'Dystopian Fiction'
book['year_published'] = 1950
print("Updated Book Dictionary:", book)

17. Dictionary Operations
Updated Book Dictionary: {'title': '1984', 'author': 'George Orwell', 'year_published': 1950, 'genre': 'Dystopian Fiction'}

In [25]:
print("18. Total Price of Products")

products = [
    {"name": "Laptop", "price": 799.99},
    {"name": "Mouse", "price": 25.50},
    {"name": "Keyboard", "price": 45.00},
    {"name": "Monitor", "price": 150.75}
]

total_price = sum(product['price'] for product in products)

print("Product List:")
for product in products:
    print(f"- {product['name']}: ${product['price']:.2f}")

print(f"Total Price: ${total_price:.2f}")

18. Total Price of Products
Product List:
- Laptop: $799.99
- Mouse: $25.50
- Keyboard: $45.00
- Monitor: $150.75
Total Price: $1021.24